body{
    padding-top: 50px !important;
}

*{
    box-sizing: border-box;
}
.em-text{
color:#fff !important;
}

.jumbotron{
     background: url(../img/bg1400.jpg) no-repeat top center!important;
     max-width: 100%;
background-size: cover;
 }
